.app-container {
    text-align: center;
    font-family: 'Arial', sans-serif;

}

.about-section,
.contact-section {
    padding: 20px;
    margin: 20px 0;
}

a {
    color: blue;
    text-decoration: none;
}
